<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
  <vendor>binfmt-dispatcher</vendor>
  <vendor_url>https://github.com/AsahiLinux/binfmt-dispatcher</vendor_url>

  <action id="org.AsahiLinux.binfmt_dispatcher.pkexec.dnf">
    <description>Install missing requirements for the interpreter</description>
    <message>Authentication is required to install the missing requirements for the interpreter</message>
    <icon_name>system-software-install</icon_name>
    <defaults>
      <allow_any>auth_admin_keep</allow_any>
      <allow_inactive>auth_admin_keep</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/dnf</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>
</policyconfig>
